body {
	background-color: green;
	font-family: verdana,arial;
}

h1 {
	font-size: 3em;
	font-weight: bold;
}

h2 {
	font-size: 2em;
	font-weight: bold;
}

header {
	padding: 2em;
	background: linear-gradient(to bottom right, red, yellow);
}

nav {
	background-color: grey;
}

p {
	padding: 2em;
	background-color: grey;
}

#firstBox {
	background-color: yellow;
}

#secondBox {
	background-color: orange;
}

#thirdBox {
	background-color: pink;
}